  <div class="dashboard">
    <div class="bookings-container">
      <h2 class="spacing text-center">BOOKINGS</h2>
      <% @bookings.each do |booking| %>
      <div class="card">
        <img src= <%= cl_image_path booking.photographer.avatar %> class="avatar"/>
        <li>Photographe: <%= booking.photographer.user.first_name %></li>
        <li>Date: <%= booking.date %></li>
        <li>Number of hours: <%= booking.hours %></li>
        <li>Booking location: <%= booking.location %></li>
        <%= link_to "x", photographer_booking_path(photographer_id: booking.photographer.id, id: booking.id), method: :delete, class: 'btn' %>
      </div>
      <% end %>
    </div>

    <div class="jobs-container">
      <h2 class="spacing blue text-center">JOBS</h2>
      <% @bookings.each do |booking| %>
        <% if booking.photographer.user == current_user %>
          <div class="card">
              <img src = http://res.cloudinary.com/devfclqwl/image/upload/v1519837147/avatar.png class="avatar">
              <li>Booker: <%= booking.user.first_name %></li>
              <li>Date: <%= booking.date %></li>
              <li>Number of hours: <%= booking.hours %></li>
              <li>Booking location: <%= booking.location %></li>
              <%= link_to "x", photographer_booking_path(photographer_id: booking.photographer.id, id: booking.id), method: :delete, class: 'btn' %>
            </div>
        <% else %>
          <h3>You have no jobs.</h3>
        <% end %>
      <% end %>
    </div>
  </div>




