

<h2 class="spacing text-center">BOOKINGS</h2>
<ul class="inbox">
 <% count = 0 %>
 <% @bookings.each do |booking| %>
 <% if booking.user == current_user %>
 <li class="message">
  <img src= <%= cl_image_path booking.photographer.avatar %> class="avatar-dashboard"/>
  <div class="message-name">
    <h4> <%= booking.photographer.user.first_name %></h4>
    <p class="light-text"><%= booking.photographer.user.email %></p>
  </div>
  <div class ="message-body">
    <p>
      <strong>Booking location: <%= booking.location %></strong>
      <p>Date: <%= booking.date %></p>
      <p>Number of hours: <%= booking.hours %></p>
      <p>Total booking fee: £<%= booking.photographer.hourly_rate * booking.hours %></p>
    </p>
    <!-- <p class="light-text"><%= booking.photographer.description %></p> -->
  </div>
  <div class ="message-status">
    <p class="status-pending"><%= link_to "x", photographer_booking_path(photographer_id: booking.photographer.id, id: booking.id), method: :delete, class: 'btn-blue' %><p>
      <% count += 1 %>
      <% end %>
      <% end %>
      <% if count == 0 %>
      <div>
        <p class="no-booking"> You have no bookings... <%= link_to "book",photographers_path %> an amazing photographer for your event!</p>
      </div>
      <% end %>
    </div>
  </li>
</ul>


<h2 class="spacing text-center">JOBS</h2>
<ul class="inbox">
 <% count = 0 %>
 <% @bookings.each do |booking| %>
 <% if booking.photographer.user == current_user %>
 <li class="message">
  <div class="message-name">
    <h4><%= booking.user.first_name %></h4>
    <p class="light-text"><%= booking.user.email %></p>
  </div>
  <div class ="message-body">
    <p>
      <strong>Booking location: <%= booking.location %></strong>
      <p>Date: <%= booking.date %></p>
      <p>Number of hours: <%= booking.hours %></p>
      <p>Total booking fee: £<%= booking.photographer.hourly_rate * booking.hours %></p>
    </p>
    <!-- <p class="light-text"><%= booking.photographer.description %></p> -->
  </div>
  <div class ="message-status">
    <p class="status-pending"><%= link_to "x", photographer_booking_path(photographer_id: booking.photographer.id, id: booking.id), method: :delete, class: 'btn-blue' %><p>
      <% count += 1 %>
      <% end %>
      <% end %>
      <% if count == 0 %>
      <div>
        <p class="no-booking">You have no bookings...
          <% if current_user.is_photographer? %>
            <%= link_to "update ", photographer_path(current_user.photographer_id) %>your photographer profile and start earning today!</p>
          <% else %>
            <%= link_to "become ", new_photographer_path %>a photographer  and start earning today!</p>
          <% end %>
      </div>
     <% end %>
   </div>
 </li>
</ul>



