<div class="dashboard">
  <div class="bookings-container">
    <h2 class="spacing text-center">BOOKINGS</h2>
    <% count = 0 %>
    <% @bookings.each do |booking| %>
      <% if booking.user == current_user %>
        <div class="card">
          <li><img src= <%= cl_image_path booking.photographer.avatar %> class="avatar"/> <%= booking.photographer.user.first_name %></li>
          <li>Email: <%= booking.photographer.user.email %></li>
          <li>Date: <%= booking.date %></li>
          <li>Number of hours: <%= booking.hours %></li>
          <li>Booking location: <%= booking.location %></li>
          <li>Booking total: £<%= booking.photographer.hourly_rate * booking.hours %></li>
          <%= link_to "x", photographer_booking_path(photographer_id: booking.photographer.id, id: booking.id), method: :delete, class: 'btn' %>
        </div>
        <% count += 1 %>
      <% end %>
    <% end %>
    <% if count == 0 %>
      <h4>You have no bookings.</h4>
    <% end %>
  </div>

  <div class="jobs-container">
    <h2 class="spacing blue text-center">JOBS</h2>
    <% count = 0 %>
    <% @bookings.each do |booking| %>
      <% if booking.photographer.user == current_user %>
        <div class="card">
          <li>Booker: <%= booking.user.first_name %></li>
          <li>Email: <%= booking.user.email %></li>
          <li>Job Date: <%= booking.date %></li>
          <li>Number of hours: <%= booking.hours %></li>
          <li>Booking location: <%= booking.location %></li>
          <li>Job total: £<%= booking.photographer.hourly_rate * booking.hours %></li>
          <%= link_to "x", photographer_booking_path(photographer_id: booking.photographer.id, id: booking.id), method: :delete, class: 'btn' %>
        </div>
        <% count += 1 %>
      <% end %>
    <% end %>
    <% if count == 0 %>
      <h4>You have no jobs.</h4>
    <% end %>
  </div>
</div>




