<%= simple_form_for(@photographer) do |f| %>
  <label class="btn-blue">
    + Profile Photo
    <span style="display: none">
    <%= f.input :avatar %>
    <%= f.input :avatar_cache, as: :hidden %>
    </span>
  </label>
  <%= f.input :description, label: false, placeholder: 'Describe your experience' %>
  <%= f.input :category, label: false, prompt: "Category", collection: [ "Weddings", "Birthdays", "Graduation", "Portraits", "Maternity", "Pets", "Fashion"] %>
  <%= f.input :city, label: false, placeholder: 'Your city' %>
  <%= f.input :hourly_rate, label: false, placeholder: 'Hourly rate' %>
  <label class="btn-blue">
    + Up to 5 Portfolio Images
    <span style="display: none">
      <%= f.fields_for :photos do |p| %>
        <%= f.file_field :photo, label: "Images", multiple: true, name: "photos[photo][]" %>
      <% end %>
    </span>
  </label>
  <label class="btn-blue">
    Submit
    <span style="display: none">
    <%= f.submit %>
    </span>
  </label>
<% end %>
