


<div class="contain">
  <h1>Take Your Pic</h1>

  <%= simple_form_for(photographers_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Filter by City" %>
        <%= submit_tag "Search", :name => nil %>
  <% end %>
  <% if @photographers.blank? %>
    <h3>There are no photographers located in <%= params[:search] %>.</h3>
  <% else  %>
    <div class="cards">
      <% @photographers.each do |photographer| %>
        <div class="card">
          <div class="card-body">
            <%= cl_image_tag photographer.avatar, height: 60, width: 60, crop: :thumb, gravity: :face, class: "card-user avatar avatar-large" %>
            <div class="card-description">
              <h2><%= photographer.user.first_name %> <%= photographer.user.last_name %></h2>
              <p><capitalize><%= photographer.city %></capitalize></p>
              <p>hourly rate: £<%= photographer.hourly_rate %></p>
            </div>
          </div>
          <%= link_to "", photographer_path(photographer), class: "card-link" %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>


