<div class="container">
  <h1>Take Your Pic</h1>
    <%= simple_form_for(photographers_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Filter by City" %>
        <%= submit_tag "Search", :name => nil %>
    <% end %>
  <!-- cards of photographers -->
  <% if @photographers.blank? %>
    <h4>There are no photographers located in <%= params[:search] %>.</h4>
  <% else  %>
    <% @photographers.each do |photographer| %>
      <%= link_to photographer.user.first_name, photographer_path(photographer) %>
    <% end %>
  <% end %>
</div>
