<div class="search">
  <h1><strong>TAKE YOUR PIC</strong></h1>
  <%= form_tag photographers_path, method: :get, id: "search-form" do %>
    <%= text_field_tag :search, params[:search], options = {style:"text-align: center;height:30px;width:250px;border-radius:4px;", placeholder: "Search by name or keyword"} %>
    <%= submit_tag "Search", class: "search-btn" %>
  <% end %>
</div>

<% if @photographers.blank? %>
  <h3>There are no photographers located in <%= params[:search] %>.</h3>

<% else  %>

  <div class="container fill-high">
    <div class="row">
      <% @photographers.each do |photographer| %>
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <div class="search-results-card">
            <%= cl_image_tag (photographer.photos.exists? ? photographer.photos.first.photo : 'https://cdn.cnn.com/cnnnext/dam/assets/120306151541-flights-cheese-super-169.jpg'), height: 100, width: 200, crop: :fill, class: "search-gallery"%>
              <div class="search-information">
                <%= cl_image_tag photographer.avatar, height: 50, width: 50, crop: :thumb, gravity: :face, class: "search-avatar" %>
                <h3><%= photographer.user.first_name %> <%= photographer.user.last_name %></h3>
                <p><capitalize><%= photographer.city %></capitalize></p>
                <p>£<%= photographer.hourly_rate %>/Hour</p>
              </div>
              <%= link_to "+", photographer_path(photographer), class: "card-link" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>





