<div class="photographer-prof">
  <div class="photographer-prof-title">
    <h1>LET'S CLICK</h1>
  </div>

  <div class="photographer-photos">
    <% @photographer.photos.each do |photo| %>
      <%= cl_image_tag photo.photo, height: 200, width: 200, crop: :fill, radius: 1 %>
    <% end %>
  </div>

  <div class="photographer-info-container text-center">
    <div class="photographer-bio">
      <%= link_to photographers_path do %>
        <div class="back-arrow"><i class="fas fa-angle-double-left"></i></div>
      <% end %>

      <div class="photographer-name">
        <h3>
          <%= @photographer.user.first_name.upcase%> <%=@photographer.user.last_name.upcase%>
          <span class="photographer-edit">
            <% if @photographer.user == current_user %>
              <a href data-toggle="modal" data-target="#myModal" id="edit"><i class="fas fa-pencil-alt"></i></a>
              <%= link_to photographer_path, method: :delete do %>
                <i class="fas fa-trash"></i>
              <% end %>
            <% end %>
          </span>
        </h3>
      </div>

      <div class="photographer-avatar">
        <%= cl_image_tag @photographer.avatar, height: 100, width: 100, crop: :thumb, gravity: :face %>
      </div>

      <div class="photographer-information">
        <p><%=@photographer.description%></p>
        <p><strong>Location: </strong><%= @photographer.city %></p>
        <p><strong>Hourly rate: </strong>£<%= @photographer.hourly_rate %></p>
        <%= cl_image_tag(@photographer.category) %>
      </div>
    </div>

    <div class= "booking-form">
      <h3>BOOK ME</h3>
      <p>Date and time:</p>
        <%= simple_form_for [@photographer, @booking] do |f| %>
        <%= f.input :date,label: false %>
        <p>Number of hours:</p>
        <%= f.input :hours, label: false %>
        <p>Location:</p>
        <%= f.input :location,label:false %>
        <%= f.submit class: "btn-orange" %>
      <% end %>
    </div>
  </div>
</div>
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header text-center">
        <button type="button" class="close" data-dismiss="modal"><i class="fas fa-times"></i></button>
        <h2 class="form-title spacing blue-font text-center">EDIT YOUR PROFILE</h2>
      </div>
      <div class="modal-body text-center">
        <div class="">
          <%= render 'shared/form' %>
        </div>
      </div>
    </div>
  </div>
</div>
