<div class="photographer-prof">
  <div class="photographer-prof-title">
    <h1>LET'S CLICK</h1>
  </div>

  <div class="photographer-photos">
    <% @photographer.photos.each do |photo| %>
      <%= cl_image_tag photo.photo, height: 200, width: 200, crop: :fill, radius: 1 %>
    <% end %>
  </div>

  <div class="photographer-info-container text-center">
    <div class="photographer-bio">
      <div class="photographer-name">
        <h3><%= @photographer.user.first_name.upcase%> <%=@photographer.user.last_name.upcase%></h3>
      </div>

      <div class="photographer-avatar">
        <%= cl_image_tag @photographer.avatar, height: 100, width: 100, crop: :thumb, gravity: :face %>
      </div>

      <div class="photographer-information">
        <p><%=@photographer.description%></p>
        <p><strong>Location:</strong> <%=@photographer.city%></p>
        <p><strong>Hourly rate:</strong> £<%=@photographer.hourly_rate%></p>
      </div>
    </div>

    <div class= "booking-form">
      <h3>BOOK ME</h3>
        <%= simple_form_for [@photographer, @booking] do |f| %>
        <%= f.input :date %>
        <%= f.input :hours %>
        <%= f.input :location %>
        <%= f.submit class: "btn-orange" %>
      <% end %>
    </div>
  </div>
</div>
